---
name: go-licenses
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
concurrency:
  group: "${{ github.workflow }}-$${{ github.pull_request.number || github.run_id }}"
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  go-licenses:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: joeig/go-licenses-action@v1
        with:
          disallowed-types: restricted,forbidden,unknown
